.div-con{
    width: 80%;
    /* background-color: black; */
    margin: 0 auto;

}

  .custom-table .ant-table-tbody > tr > td > span {
    display: inline-block;
    text-align: center;
    width: 50%;
    
  }
  
  .text-h1{
    text-align: center;
    padding: 2rem;
  
  }
  